<div class="header" *ngIf="resource">

  <div class="stats" *ngIf="resource.data">
    <mat-label
      *ngIf='!hideName && resource?.name'
      [matTooltip]='resourceDescription' matTooltipPosition='above'>{{ resource.name }}
    </mat-label>
    <span class="stat-item">
      <i class="stat-label">Color model:</i> {{ resource.data.resource_id }}
    </span>
    <span class="stat-item">
      <i class="stat-label">Size:</i> {{ resource.data.width }}x{{ resource.data.height }}
    </span>
  </div>

  <div class="actions">
    <button mat-icon-button (click)="zoomOut()" title="Zoom Out">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <mat-slider [min]="minZoomLog" [max]="maxZoomLog" step="0.01" [discrete]="false" title="Zoom">
      <input matSliderThumb [(ngModel)]="sliderValue">
    </mat-slider>
    <button mat-icon-button (click)="zoomIn()" title="Zoom In">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-stroked-button (click)="resetZoom()" title="Reset to 100%">100%</button>
    <button mat-stroked-button (click)="fitZoom()" title="Fit to view">Fit</button>
    <span class="zoom-level">{{ zoom }}%</span>
  </div>
</div>

<div class="preview-wrapper">
  <div class="image-container"
       #imageContainer
       (wheel)="onWheel($event)"
       (mousedown)="onMouseDown($event)"
       (mousemove)="onMouseMove($event)"
       (mouseup)="onMouseUp()"
       (mouseleave)="onMouseLeave()"
       [class.panning]="isPanning">
    <img *ngIf="imageUrl$ | async as imageUrl"
         [src]="imageUrl"
         [style.width.px]="(resource?.data?.width || 0) * zoom / 100"
         [style.height.px]="(resource?.data?.height || 0) * zoom / 100"
         draggable="false"
         (dragstart)="false">
    <div *ngIf="!(imageUrl$ | async)"
         class="image-placeholder"
         [style.width.px]="(resource?.data?.width || 0) * zoom / 100"
         [style.height.px]="(resource?.data?.height || 0) * zoom / 100">
    </div>
  </div>
  <app-block-actions *ngIf='!hideBlockActions' [resource]='this.resource' [hideCustomActions]="true"></app-block-actions>
</div>

<mat-form-field *ngIf="resource" subscriptSizing="dynamic">
  <mat-label>Color Model</mat-label>
  <mat-select [ngModel]="resource.data.resource_id" (ngModelChange)="onFormatChange($event)" #formatSelect="ngModel">
    <mat-option *ngFor="let enumValue of resource?.schema.fields[0].schema.enum_names" [value]="enumValue[1]">
      {{ enumValue[1] }}
    </mat-option>
  </mat-select>
</mat-form-field>

<app-compound-block-ui [resource]="resource"
                       [hideName]="true"
                       [hideBlockActions]="true"
                       [preferHorizontalLayout]="true"
                       [fieldBlacklist]="['resource_id']"></app-compound-block-ui>
