.preview {
  width: 100%;
  height: calc(100vh - 14rem);
  display: flex;
  column-gap: 1rem;

  .previewCanvasContainer {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    margin: 0 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    canvas {
      position: absolute;
    }

    #controls {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      background-color: #333333;
      color: white;
      max-height: calc(100% - 8px);
      overflow-y: auto;
      z-index: 100;

      &:empty {
        display: none;
      }

      > h4 {
        margin: 0;
      }

      .controls-list {
        width: 100%;
        display: flex;
        user-select: none;
        align-items: center;

        > span {
          flex-grow: 1;
        }

        > label {
          flex-grow: 1;
        }
      }

      .controls-list-vertical {
        width: 100%;
        display: flex;
        flex-direction: column;
        user-select: none;
        gap: 5px;

        .control-item {
          display: flex;
          align-items: center;
          gap: 8px;

          > label {
            flex-grow: 1;
          }
        }
      }
    }
  }

  .previewNavigationContainer {
    width: 20rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    app-minimap {
      flex-grow: 1;
      display: flex;
    }
  }

}

.famSelector {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 1rem;

  h4 {
    min-width: fit-content;
  }

  mat-form-field {
    flex-grow: 1;
  }

  mat-spinner, button {
    margin-bottom: 1.34375em;
  }
}
