@if (!hideBlockActions) {
  <app-block-actions
    [resource]="{
      id: resourceId!,
      name: resourceName!,
      data: resourceData,
      schema: resourceSchema,
    }"
    [customActionsBlacklist]="['convert_format']"></app-block-actions>
}
@if (resourceData && resourceSchema) {
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Color Model</mat-label>
    <mat-select [value]="resourceData.resource_id" (selectionChange)="onFormatChange($event)" #formatSelect>
      @for (enumValue of resourceSchema.fields[0].schema.enum_names; track enumValue) {
        <mat-option [value]="enumValue[1]">
          {{ enumValue[1] }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
}
<app-compound-block-ui
  [resourceId]="resourceId"
  [resourceName]="resourceName"
  [resourceSchema]="resourceSchema"
  [resourceData]="resourceData"
  [hideBlockActions]="true"
  [hideName]="hideName"
  [fieldBlacklist]="['resource_id', 'colors']"></app-compound-block-ui>
<div id="colors-container">
  @for (color of resourceData?.colors.data; track color; let i = $index) {
    <div
      class="color-box"
      [ngStyle]="{ 'background-color': '#' + lpad(color.toString(16), '0', 8) }"
      [matTooltip]="i + ': #' + color.toString(16)"
      (click)="onColorClicked($any($event.currentTarget!), i)"></div>
  }
  <div class="color-box extra-btn" (click)="addColor()" matTooltip="Add color">
    <mat-icon>add</mat-icon>
  </div>
  <div class="color-box extra-btn" (click)="removeLastColor()" matTooltip="Delete last color">
    <mat-icon>delete</mat-icon>
  </div>
</div>
<input
  #colorInput
  type="color"
  alpha
  class="color-input-hidden"
  (change)="onColorChange($any($event.currentTarget).value)" />
