.number-matrix {
  display: flex;
  margin: 0 0 16px;
}

#colors-container {
  display: flex;
  flex-wrap: wrap;
}

.color-box {
  border: solid 0.1rem;
  outline: solid 0.1rem;
  width: 2rem;
  height: 2rem;
}
