.item-actions {
  display: flex;
  gap: 4px;
  background: inherit;
  white-space: nowrap;

  button {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    .mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
      line-height: 18px;
    }

    ::ng-deep .mat-mdc-button-touch-target {
      width: 24px !important;
      height: 24px !important;
    }
  }
}
