<div class="item-actions">
  <button
    mat-icon-button
    color="primary"
    class="move-item-button"
    [disabled]="disabled || index === 0"
    (click)="$event.stopPropagation(); moveUp.emit(index)"
    matTooltip="Move up">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <button
    mat-icon-button
    color="primary"
    class="move-item-button"
    [disabled]="disabled || index === totalItems - 1"
    (click)="$event.stopPropagation(); moveDown.emit(index)"
    matTooltip="Move down">
    <mat-icon>arrow_downward</mat-icon>
  </button>
  @if (showRemove) {
    <button
      mat-icon-button
      color="warn"
      class="remove-item-button"
      [disabled]="disabled"
      (click)="$event.stopPropagation(); remove.emit(index)"
      matTooltip="Remove item">
      <mat-icon>delete</mat-icon>
    </button>
  }
</div>
