<div class='container'>
  <svg [attr.viewBox]="'0 0 ' + (svgSize$ | async)?.x + ' ' + (svgSize$ | async)?.y" shape-rendering="geometricPrecision">
    <!-- track -->
    <polyline [attr.points]="mapPolyline$ | async"
              [ngStyle]="{'stroke-width': 3}"
              style="fill:none;stroke:#333333"></polyline>
    cars
    <circle *ngIf="mapPointer$ | async"
            [attr.cx]="(mapPointer$ | async)?.x || 0" [attr.cy]="(mapPointer$ | async)?.y || 0"
            [attr.r]="10"
            fill="#e30" stroke="black" stroke-width="3"></circle>
  </svg>
  <div class='info_div'>
    <span>Track length (m): {{(trackLength$ | async)?.toFixed(2)}}</span>
  </div>
</div>
