:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  height: 100%;
  scroll-snap-type: y proximity;

  .scroll-bounds-snapper {
    height: 0;
    width: 100%;
    scroll-snap-align: start;
    scroll-margin: 1rem;
  }
}

#bmac {
  text-align: end;
  margin-top: 1rem;
}

mat-divider {
  height: 100%;
  margin: 0 16px;
}
