:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-landing-page {
  flex-grow: 1;
}

.flex-spacer {
  flex: 1 1 auto;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}
