<mat-toolbar color="primary">
    <span>{{(mainService.resource$ | async)?.name || '...'}}{{mainService.hasUnsavedChanges ? '*' : ''}}</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button (click)="toggleUnknownsVisibility()"
            matTooltip="Show/hide hidden fields">
      <mat-icon *ngIf="mainService.hideHiddenFields$ | async" fontIcon="visibility_off"></mat-icon>
      <mat-icon *ngIf="!(mainService.hideHiddenFields$ | async)" fontIcon="visibility_on"></mat-icon>
    </button>
    <mat-divider vertical></mat-divider>
    <app-block-actions [resource]="this.mainService.resource$ | async"></app-block-actions>
    <button mat-icon-button (click)="reloadResource()"
            [disabled]="!(this.mainService.eelDelegate.openedResourcePath$ | async)"
            matTooltip="Reload file from disk">
        <mat-icon fontIcon="refresh"></mat-icon>
    </button>
    <mat-divider vertical></mat-divider>
    <button mat-icon-button (click)="saveResource()"
            [disabled]="!(mainService.resource$ | async) || !mainService.hasUnsavedChanges"
            matTooltip="Save changes to file">
        <mat-icon fontIcon="save"></mat-icon>
    </button>
</mat-toolbar>
<div id="content-wrapper">
    <div class="scroll-bounds-snapper"></div>
    <app-editor [resource]="(mainService.customActionRunning$ | async)
    ? null
    : ((mainService.resource$ | async) || (mainService.error$ | async))"
                [hideBlockActions]="true"></app-editor>
    <div id="bmac">
        <a href="https://www.buymeacoffee.com/andygura" target="_blank"><img
                src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
                style="height: 60px !important;width: 217px !important;"></a>
    </div>
    <div class="scroll-bounds-snapper"></div>
</div>
