<h2 mat-dialog-title>Create New File</h2>
<mat-dialog-content>
  <mat-selection-list [multiple]="false" (selectionChange)="selectedFormat = $event.options[0].value">
    @for (format of formats; track format.id) {
      <mat-list-option [value]="format.id" [selected]="selectedFormat === format.id">
        <mat-icon matListItemIcon>{{ fileFormatIcon(format.blockClass) }}</mat-icon>
        <span matListItemTitle>{{ format.name }}</span>
      </mat-list-option>
    }
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onCreate()">Create</button>
</mat-dialog-actions>
