:host {
  display: flex;
  align-items: flex-start;
  scroll-snap-align: start;
  scroll-margin: 0.5rem;

  mat-selection-list {
    height: 100%;
    overflow-y: auto;
    max-width: 33%;
    flex-shrink: 0;
    padding: 0;

    mat-list-option[aria-selected='true'] {
      background-color: #e0e0e0;
      &:focus {
        background-color: unset;
      }
    }

    ::ng-deep {
      .mdc-radio {
        display: none;
      }
    }
  }

  mat-card {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
  }
}
