<ng-container *ngIf="resource?.schema?.serializable_to_disc">
  <button mat-icon-button
          *ngIf="isInReversibleSerializationState"
          matTooltip="Deserialize back from common format"
          (click)="deserialize()">
    <mat-icon fontIcon="upload"></mat-icon>
  </button>
  <button mat-icon-button
          [disabled]="isInReversibleSerializationState"
          matTooltip="Serialize to common format"
          (click)="serializeBlockReversible()">
    <mat-icon fontIcon="download"></mat-icon>
  </button>
  <button mat-icon-button
          *ngIf="(mainService.resource$ | async)?.schema.custom_actions?.length > 0"
          [matMenuTriggerFor]="customActionsMenu"
          matTooltip="Run custom action">
    <mat-icon fontIcon="bolt"></mat-icon>
  </button>
</ng-container>

<mat-menu #customActionsMenu="matMenu">
  <button *ngFor="let action of ((mainService.resource$ | async)?.schema.custom_actions || [])"
          mat-menu-item
          (click)="runCustomAction(action)">
    <span>{{action.title}}</span>
  </button>
</mat-menu>
