@if (resource?.schema?.serialization) {
  @if (resource?.schema?.serialization?.reversible) {
    <button
      mat-icon-button
      [matTooltip]="'Deserialize from ' + (resource?.schema?.serialization?.file_type || 'common format')"
      [class.mat-icon-button-sm-32]="size === 'small'"
      [disabled]="isDeserializing"
      (click)="deserialize()">
      @if (!isDeserializing) {
        <mat-icon fontIcon="upload"></mat-icon>
      } @else {
        <mat-spinner mode="indeterminate" diameter="24" color="accent"></mat-spinner>
      }
    </button>
  }
  <button
    mat-icon-button
    [matTooltip]="'Serialize to ' + (resource?.schema?.serialization?.file_type || 'common format')"
    [class.mat-icon-button-sm-32]="size === 'small'"
    [disabled]="isSerializing"
    (click)="serialize()">
    @if (!isSerializing) {
      <mat-icon fontIcon="download"></mat-icon>
    } @else {
      <mat-spinner mode="indeterminate" diameter="24" color="accent"></mat-spinner>
    }
  </button>
}
@if (!hideCustomActions && customActions.length > 0) {
  <button
    mat-icon-button
    [matMenuTriggerFor]="customActionsMenu"
    matTooltip="Run custom action"
    [disabled]="isCustomActionRunning"
    [class.mat-icon-button-sm-32]="size === 'small'">
    @if (!isCustomActionRunning) {
      <mat-icon fontIcon="bolt"></mat-icon>
    } @else {
      <mat-spinner mode="indeterminate" diameter="24" color="accent"></mat-spinner>
    }
  </button>
}

<mat-menu #customActionsMenu="matMenu">
  @for (action of customActions; track action) {
    <button mat-menu-item (click)="runCustomAction(action)">
      <span>{{ action.title }}</span>
    </button>
  }
</mat-menu>
