//@use '@angular/material' as mat;

html {
  height: 100%;
  // TODO uncomment and adjust UI to be more compact later
  //@include mat.all-component-densities(-3);
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-spacer {
  flex-grow: 1;
}

.hidden {
  display: none !important;
}



