<div id="wrapper" [matTooltip]="resourceDescription" matTooltipPosition="above">
  <div #picker class="circle-container">
    <div class="ui-anglepicker-pointer" [ngStyle]="{ 'transform': 'rotate(' + (resource?.data || 0) + 'rad)'}">
      <div class="ui-anglepicker-dot"></div>
      <div class="ui-anglepicker-line"></div>
    </div>
  </div>
  <div id="labels">
    <mat-label *ngIf="resource?.name" id="name-span">{{ resource?.name }}</mat-label>
    <mat-label>{{ (resource?.data * 180 / pi || 0) | number: '1.2-2'}} deg</mat-label>
    <mat-label>{{ (resource?.data || 0) | number: '1.2-2' }} rad</mat-label>
  </div>
</div>

