form {
  padding: 0 24px;
  display: flex;
  flex-direction: column;

  .action-arg-checkbox {
    margin-bottom: 16px;
  }

  .arg-row {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    mat-form-field {
      flex: 1;
    }

    .file-output-button {
      margin-top: 4px;
    }
  }
}
