<app-compound-block-ui [resource]="_resource$ | async"
                       [fieldBlacklist]="[
                        'bitmap',
                        'palette',
                       ]"></app-compound-block-ui>
<img *ngIf="imageUrl$ | async" [src]="imageUrl$ | async">
<app-editor *ngIf="(_resource$ | async)?.data.palette && (_resource$ | async)?.data.palette.resource_id != 124"
            [resource]="(_resource$ | async)?.data.palette"></app-editor>
<!--<div id="actions">-->
<!--    <button mat-raised-button color="primary" (click)="openResourceInSystem()">Open with system app</button>-->
<!--    <button mat-raised-button color="primary" *ngIf="hasSerializedFile" (click)="pullResource()">Pull updated file</button>-->
<!--</div>-->
